<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.snakeandladder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launchernew"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launchernew"
        android:supportsRtl="true"
        android:theme="@style/Theme.SnakeAndLadder">
        <activity android:name=".MainActivity3"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
<!--        android:value="ca-app-pub-3940256099942544~3347511713"   Develop     test ads-->

    </application>

</manifest>